# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\practice-demo\ratel-trace\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
